In [42]:
import pandas as pd
import numpy as np

In [43]:
ptable= pd.read_csv('ptables.csv')
ptable.head()

,Teams,M,W,L,N/R,PT,NRR,Series Form,For,Against,season
0,Sudur Paschim Royals,7,6,1,0,12,2.087,WLWWW,1048/135.2,792/140.0,2024
1,Janakpur Bolts,7,5,2,0,10,0.164,WWLWL,855/123.4,945/140.0,2024
2,Chitwan Rhinos,7,4,3,0,8,0.634,LWLLW,1013/137.1,944/139.5,2024
3,Karnali Yaks,7,4,3,0,8,-0.184,WWWWL,890/134.5,882/130.0,2024
4,Kathmandu Gurkhas,7,4,3,0,8,-0.321,LWLWW,824/131.5,874/133.0,2024

In [44]:

# Clean the team names
ptable['Teams'] = ptable['Teams'].str.replace(r'^\d+', '', regex=True) \
                             .str.replace(r'\s*\(.*?\)', '', regex=True) \
                             .str.strip()

ptable

,Teams,M,W,L,N/R,PT,NRR,Series Form,For,Against,season
0,Sudur Paschim Royals,7,6,1,0,12,2.087,WLWWW,1048/135.2,792/140.0,2024
1,Janakpur Bolts,7,5,2,0,10,0.164,WWLWL,855/123.4,945/140.0,2024
2,Chitwan Rhinos,7,4,3,0,8,0.634,LWLLW,1013/137.1,944/139.5,2024
3,Karnali Yaks,7,4,3,0,8,-0.184,WWWWL,890/134.5,882/130.0,2024
4,Kathmandu Gurkhas,7,4,3,0,8,-0.321,LWLWW,824/131.5,874/133.0,2024
5,Biratnagar Kings,7,2,5,0,4,-0.703,WLLWL,975/139.5,1026/133.4,2024
6,Pokhara Avengers,7,2,5,0,4,-1.332,WLWLL,916/136.5,1014/126.2,2024
7,Lumbini Lions,7,1,6,0,2,-0.498,LLWLL,1013/140.0,1057/136.4,2024

In [45]:


# to extract winner and runnerup from the match result dataset
matches = pd.read_csv('NPL/Final Tables/npl_matches.csv')
matches.tail(5)

,id,season,date,venue,city,team_1,team_2,toss_winner,toss_decision,result,...,team_1_wickets,team_2_wickets,team_1_runs_from_extra,team_2_runs_from_extra,win_by_runs,win_by_wickets,player_of_the_match,over_balls,extra_balls,total_ball_bowled
27,28,2024,12/16/2024,Tribhuvan University International Cricket Gro...,Kathmandu,Karnali Yaks,Sudurpaschim Royals,Sudurpaschim Royals,field,normal,...,10,4,8,7,0,6,Dipendra Singh Airee,212,10,222
28,29,2024,12/18/2024,Tribhuvan University International Cricket Gro...,Kathmandu,Karnali Yaks,Chitwan Rhinos,Chitwan Rhinos,field,normal,...,6,9,7,7,21,0,Chadwick Walton,240,6,246
29,30,2024,12/18/2024,Tribhuvan University International Cricket Gro...,Kathmandu,Janakpur Bolts,Sudurpaschim Royals,Janakpur Bolts,bat,normal,...,9,2,10,6,0,8,Binod Bhandari,231,8,239
30,31,2024,12/19/2024,Tribhuvan University International Cricket Gro...,Kathmandu,Karnali Yaks,Janakpur Bolts,Janakpur Bolts,field,normal,...,9,8,8,4,0,2,James Neesham,234,6,240
31,32,2024,12/21/2024,Tribhuvan University International Cricket Gro...,Kathmandu,Sudurpaschim Royals,Janakpur Bolts,Sudurpaschim Royals,bat,normal,...,9,5,8,18,0,5,Lahiru Milantha,236,8,244

In [46]:
matches.columns

Index(['id', 'season ', 'date', 'venue', 'city', 'team_1', 'team_2',
       'toss_winner', 'toss_decision', 'result', 'dls_applied', 'super_over',
       'winner', 'team_1_runs', 'team_2_runs', 'team_1_overs_played',
       'team_2_overs_played', 'team_1_wickets', 'team_2_wickets',
       'team_1_runs_from_extra', 'team_2_runs_from_extra', 'win_by_runs',
       'win_by_wickets', 'player_of_the_match', 'over_balls', 'extra_balls',
       'total_ball_bowled'],
      dtype='object')

In [47]:
matches['date'] = pd.to_datetime(matches['date'])
matches_sorted = matches.sort_values(by=['season ','date'])
matches_sorted.tail(10)

,id,season,date,venue,city,team_1,team_2,toss_winner,toss_decision,result,...,team_1_wickets,team_2_wickets,team_1_runs_from_extra,team_2_runs_from_extra,win_by_runs,win_by_wickets,player_of_the_match,over_balls,extra_balls,total_ball_bowled
22,23,2024,2024-12-13,Tribhuvan University International Cricket Gro...,Kathmandu,Biratnagar Kings,Chitwan Rhinos,Biratnagar Kings,bat,normal,...,5,6,23,6,51,0,Basir Ahamad,240,12,252
23,24,2024,2024-12-14,Tribhuvan University International Cricket Gro...,Kathmandu,Pokhara Avengers,Kathmandu Gurkhas,Kathmandu Gurkhas,field,normal,...,8,4,11,1,0,6,Stephen Eskinazi,205,4,209
24,25,2024,2024-12-14,Tribhuvan University International Cricket Gro...,Kathmandu,Chitwan Rhinos,Janakpur Bolts,Chitwan Rhinos,bat,normal,...,5,10,12,8,32,0,Kushal Malla,228,12,240
25,26,2024,2024-12-15,Tribhuvan University International Cricket Gro...,Kathmandu,Biratnagar Kings,Kathmandu Gurkhas,Kathmandu Gurkhas,field,normal,...,10,9,12,13,0,1,Dipesh Kandel,228,10,238
26,27,2024,2024-12-15,Tribhuvan University International Cricket Gro...,Kathmandu,Sudurpaschim Royals,Pokhara Avengers,Pokhara Avengers,field,normal,...,7,10,14,15,5,0,Scott Kuggeleijn,238,11,249
27,28,2024,2024-12-16,Tribhuvan University International Cricket Gro...,Kathmandu,Karnali Yaks,Sudurpaschim Royals,Sudurpaschim Royals,field,normal,...,10,4,8,7,0,6,Dipendra Singh Airee,212,10,222
28,29,2024,2024-12-18,Tribhuvan University International Cricket Gro...,Kathmandu,Karnali Yaks,Chitwan Rhinos,Chitwan Rhinos,field,normal,...,6,9,7,7,21,0,Chadwick Walton,240,6,246
29,30,2024,2024-12-18,Tribhuvan University International Cricket Gro...,Kathmandu,Janakpur Bolts,Sudurpaschim Royals,Janakpur Bolts,bat,normal,...,9,2,10,6,0,8,Binod Bhandari,231,8,239
30,31,2024,2024-12-19,Tribhuvan University International Cricket Gro...,Kathmandu,Karnali Yaks,Janakpur Bolts,Janakpur Bolts,field,normal,...,9,8,8,4,0,2,James Neesham,234,6,240
31,32,2024,2024-12-21,Tribhuvan University International Cricket Gro...,Kathmandu,Sudurpaschim Royals,Janakpur Bolts,Sudurpaschim Royals,bat,normal,...,9,5,8,18,0,5,Lahiru Milantha,236,8,244

In [48]:
final_matches = matches_sorted.groupby('season ').tail(1)   
final_matches['runner_up'] = final_matches.apply(
    lambda row: row['team_1'] if row['winner'] == row['team_2'] else row['team_2'], axis=1
)
final_matches[['season ', 'winner', 'runner_up']]

C:\Users\ACER\AppData\Local\Temp\ipykernel_23944\3895759440.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_matches['runner_up'] = final_matches.apply(

    season           winner            runner_up
31     2024  Janakpur Bolts  Sudurpaschim Royals

In [49]:
final_matches.to_csv('npl_final_matches.csv', index=False)

In [50]:
most_runs = pd.read_csv('NPL/Batting Records/most_runs.csv')
most_runs['runs'] = pd.to_numeric(most_runs['runs'], errors='coerce')
most_runs.head()

,player,span,matches_played,innings_batted,not_out,runs,highest_inns_score,batting_average,balls_faced,strike_rate,hundreds_scored,fifties_scored,ducks_scored,boundary_fours,boundary_sixes
0,BKEL Milantha (JAB),2024-2024,10,10,1,293.0,87,32.55,224,130.80,-,2,-,35,9
1,RS Bopara (CHR),2024-2024,8,8,1,286.0,59*,40.85,211,135.54,-,3,-,24,11
2,RK Paudel (LUL),2024-2024,7,7,-,279.0,95,39.85,212,131.60,-,2,-,26,11
3,SA Zaib (SPR),2024-2024,9,9,-,275.0,90,30.55,202,136.13,-,2,-,24,12
4,JDS Neesham (JAB),2024-2024,9,9,2,247.0,65,35.28,126,196.03,-,1,-,14,23

In [51]:
most_runs = most_runs.sort_values(by='runs', ascending=False).head(1)
most_runs

,player,span,matches_played,innings_batted,not_out,runs,highest_inns_score,batting_average,balls_faced,strike_rate,hundreds_scored,fifties_scored,ducks_scored,boundary_fours,boundary_sixes
0,BKEL Milantha (JAB),2024-2024,10,10,1,293.0,87,32.55,224,130.80,-,2,-,35,9

In [52]:
most_wickets = pd.read_csv('NPL/Bowling Records/most_wickets.csv')
most_wickets.head()

,player,span,matches_played,innings_bowled,balls,overs,maidens_earned,conceded,wicket,best_innings_bowling,bowling_average,economy_rate,strike_rate,four_wickets,five_wickets
0,SC Kuggeleijn (SPR),2024-2024,9,9,173,28.5,1,210,17,5/18,12.35,7.28,10.17,-,1
1,LN Rajbanshi (JAB),2024-2024,10,10,240,40.0,5,213,17,3/8,12.52,5.32,14.11,-,-
2,Sohail Tanvir (CHR),2024-2024,8,8,182,30.2,1,174,14,5/21,12.42,5.73,13.00,-,1
3,K Mahato (JAB),2024-2024,10,10,198,33.0,1,265,14,4/35,18.92,8.03,14.14,1,-
4,BP Sharma (KAY),2024-2024,8,8,174,29.0,2,171,13,3/17,13.15,5.89,13.38,-,-

In [53]:
best_economy = pd.read_csv('NPL/Bowling Records/best_economy_rates.csv')
best_economy.head()

,player,span,matches_played,overs,maidens_earned,balls,conceded,wickets,best_innings_bowling,bowling_average,economy_rate,bowling_strike_rate,four_wickets,five_wicktes,ten_wickets
0,Harmeet Singh (SPR),2024-2024,5,20.0,2,120,90,8,3/17,11.25,4.50,15.0,-,-,-
1,Abhishesh Gautam (LUL),2024-2024,4,16.0,-,96,78,6,3/20,13.00,4.87,16.0,-,-,-
2,BFW de Leede (POA),2024-2024,1,4.0,-,24,20,2,2/20,10.00,5.00,12.0,-,-,-
3,MG Erasmus (KAG),2024-2024,7,25.1,-,151,131,11,3/17,11.90,5.20,13.7,-,-,-
4,LN Rajbanshi (JAB),2024-2024,10,40.0,5,240,213,17,3/8,12.52,5.32,14.1,-,-,-

In [54]:
points_table = pd.read_csv('ptables.csv')
points_table.head()
points_table['season']= 2024
points_table.head()
points_table.to_csv('Ptables.csv', index=False)

In [55]:
most_runs['player'] = most_runs['player'].str.strip().str.lower()
most_wickets['player'] = most_wickets['player'].str.strip().str.lower()

In [60]:
batsmen= pd.read_csv("NPL/Batting Records/most_runs.csv")
bowlers= pd.read_csv("NPL/Bowling Records/most_wickets.csv")

In [61]:
batsmen.shape

(120, 15)

In [62]:
bowlers.shape

(71, 15)

In [63]:
# --- STEP 1: Clean player names to avoid mismatch ---
batsmen['player'] = batsmen['player'].astype(str).str.strip().str.lower()
bowlers['player'] = bowlers['player'].astype(str).str.strip().str.lower()

# --- STEP 2: Prefix columns to avoid name conflict ---
batsmen = batsmen.add_prefix("bat_")
bowlers = bowlers.add_prefix("bowl_")

# Restore player column
batsmen = batsmen.rename(columns={"bat_player": "player"})
bowlers = bowlers.rename(columns={"bowl_player": "player"})

# --- STEP 3: Merge both datasets ---
player_df = pd.merge(
    batsmen,
    bowlers,
    on="player",
    how="outer"      # include all players from batting and bowling
)

# --- STEP 4: Replace missing values with ZERO ---
player_df = player_df.fillna(0)

# --- STEP 5: Convert numeric columns ---
for col in player_df.columns:
    if col != "player":
        player_df[col] = pd.to_numeric(player_df[col], errors="ignore")

player_df.head()

C:\Users\ACER\AppData\Local\Temp\ipykernel_23944\1596147733.py:27: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  player_df[col] = pd.to_numeric(player_df[col], errors="ignore")

,player,bat_span,bat_matches_played,bat_innings_batted,bat_not_out,bat_runs,bat_highest_inns_score,bat_batting_average,bat_balls_faced,bat_strike_rate,...,bowl_overs,bowl_maidens_earned,bowl_conceded,bowl_wicket,bowl_best_innings_bowling,bowl_bowling_average,bowl_economy_rate,bowl_strike_rate,bowl_four_wickets,bowl_five_wickets
0,a bohara (spr),2024-2024,9.0,2.0,2,2,2*,-,3.0,66.66,...,23.0,1,173.0,7.0,3/17,24.71,7.52,19.71,-,-
1,a gharti (kay),2024-2024,9.0,7.0,1,79,33,13.16,72.0,109.72,...,0.0,0,0.0,0.0,0,0.00,0.00,0.00,0,0
2,a ghiraiya (lul),2024-2024,6.0,6.0,-,44,16,7.33,70.0,62.85,...,0.0,0,0.0,0.0,0,0.00,0.00,0.00,0,0
3,a kharel (bik),2024-2024,5.0,3.0,3,17,10*,-,19.0,89.47,...,14.0,-,123.0,5.0,3/26,24.60,8.78,16.80,-,-
4,a saud (lul),2024-2024,6.0,6.0,-,68,20,11.33,71.0,95.77,...,0.0,0,0.0,0.0,0,0.00,0.00,0.00,0,0

In [68]:

player_df['player']= player_df['player'].str.replace(r"\(.*\)", "", regex=True).str.strip()

In [67]:
player_df.sample(5)

,player,bat_span,bat_matches_played,bat_innings_batted,bat_not_out,bat_runs,bat_highest_inns_score,bat_batting_average,bat_balls_faced,bat_strike_rate,...,bowl_overs,bowl_maidens_earned,bowl_conceded,bowl_wicket,bowl_best_innings_bowling,bowl_bowling_average,bowl_economy_rate,bowl_strike_rate,bowl_four_wickets,bowl_five_wickets
97,s kansakar,2024-2024,10.0,6.0,1,71,26,14.20,76.0,93.42,...,0.0,0,0.0,0.0,0,0.00,0.00,0.00,0,0
55,jds neesham,2024-2024,9.0,9.0,2,247,65,35.28,126.0,196.03,...,26.0,-,233.0,7.0,2/29,33.28,8.96,22.28,-,-
98,s karki,2024-2024,8.0,7.0,1,108,28*,18.00,111.0,97.29,...,0.0,0,0.0,0.0,0,0.00,0.00,0.00,0,0
25,basil hameed,2024-2024,2.0,2.0,1,3,2*,3.00,6.0,50.00,...,6.0,-,53.0,1.0,1/15,53.00,8.83,36.00,-,-
36,d bohara,2024-2024,6.0,6.0,1,60,20,12.00,56.0,107.14,...,0.0,0,0.0,0.0,0,0.00,0.00,0.00,0,0

In [70]:
player_df.to_csv("NPL/player_dataset.csv", index=False)
player_df.sample(5)

,player,bat_span,bat_matches_played,bat_innings_batted,bat_not_out,bat_runs,bat_highest_inns_score,bat_batting_average,bat_balls_faced,bat_strike_rate,...,bowl_overs,bowl_maidens_earned,bowl_conceded,bowl_wicket,bowl_best_innings_bowling,bowl_bowling_average,bowl_economy_rate,bowl_strike_rate,bowl_four_wickets,bowl_five_wickets
26,basir ahamad,2024-2024,7.0,7.0,2,181,68*,36.20,147.0,123.12,...,19.0,1,123.0,6.0,2/22,20.5,6.47,19.0,-,-
97,s kansakar,2024-2024,10.0,6.0,1,71,26,14.20,76.0,93.42,...,0.0,0,0.0,0.0,0,0.0,0.00,0.0,0,0
21,b rawal,2024-2024,8.0,5.0,-,54,18,10.80,64.0,84.37,...,0.0,0,0.0,0.0,0,0.0,0.00,0.0,0,0
95,s dhawan,2024-2024,4.0,4.0,1,136,72*,45.33,111.0,122.52,...,0.0,0,0.0,0.0,0,0.0,0.00,0.0,0,0
98,s karki,2024-2024,8.0,7.0,1,108,28*,18.00,111.0,97.29,...,0.0,0,0.0,0.0,0,0.0,0.00,0.0,0,0

In [71]:
player_df.columns

Index(['player', 'bat_span', 'bat_matches_played', 'bat_innings_batted',
       'bat_not_out', 'bat_runs', 'bat_highest_inns_score',
       'bat_batting_average', 'bat_balls_faced', 'bat_strike_rate',
       'bat_hundreds_scored', 'bat_fifties_scored', 'bat_ducks_scored',
       'bat_boundary_fours', 'bat_boundary_sixes', 'bowl_span',
       'bowl_matches_played', 'bowl_innings_bowled', 'bowl_balls',
       'bowl_overs', 'bowl_maidens_earned', 'bowl_conceded', 'bowl_wicket',
       'bowl_best_innings_bowling', 'bowl_bowling_average',
       'bowl_economy_rate', 'bowl_strike_rate', 'bowl_four_wickets',
       'bowl_five_wickets'],
      dtype='object')